snippet vimspector
{
	"configurations" : {
		"Launch": {
			"adapter": "debugpy",
			"configuration": {
				"request": "launch",
				"program": "${file}",
				"stopAtEntry": true
			},
			"breakpoints": {
				"exception": {
					"caught": "Y",
					"uncaught": "Y"
				}
			}	
		}
	}
}
endsnippet
