snippet def "python functions" b
def ${1: function_name}($2):
    $0
    return
endsnippet

snippet "if __" "name is main" b
if __name__ == "__main__":
    $0
endsnippet

snippet defi "def __init__" b
def __init__(self$1):
    $2
endsnippet
